.markdown h1 {
    background-color: palegreen;
}

.markdown h2 {
    position: relative;
    font-size: 2em;
    margin: 2em 0 1em;
    padding-bottom: 0.3em;
    border-bottom: 5px solid grey;
}

.markdown h2::after {
    position: absolute;
    display: block;
    content: " ";
    bottom: -5px;
    width: 2em;
    border-bottom: 5px solid rgb(127, 15, 255);
}

.markdown h3 {
    font-size: 1.5em;
    padding-left: 0.5em;
    margin-top: 2em;
    border-left: 5px solid rgb(127, 15, 255);
}

.markdown blockquote {
    border-left: 5px solid #ddd;
    color: #777;
    padding: 1em;
    padding-right: 0;
    margin: 0;
}

.markdown strong {
    font-weight: bold;
    color: rgb(127, 15, 255);
}

.markdown a {
    text-decoration: none;
}
